@using Empresa.ProdutoNomeAplicacaoTesteASPNETMVC.Web.Models
@model Frase 

@{
    ViewBag.Title = "Confirmacao";
}

<h2>Confirmacao</h2>

<p>Frase inserida com sucesso:</p>

<p>@Model.Descricao</p>

@Html.Label("Categoria: ") @Html.EditorFor(f => f.Categoria)
@Html.Label("Likes: ") @Html.EditorFor(f => f.Likes)